@font-face {
	font-family: "GearsOfPeace";
	src: url('./Police/neuropol\ x\ rg.ttf');
}

*{
	margin: 0;
	padding: 0;
    border: 0;
}

#contact
{
    display: flex;
    word-wrap: break-word;
}

.site{
list-style-type: none;
color: white;

background-color: #283645;
margin-right: 500px ;
font-family: "GearsOfPeace";
}


/*Barre de navigation*/
.nav{
display: flex;
justify-content: space-between;
/*background-color: black;*/
background-image: url("./image/test_fond1.jpg");
border-bottom: 3px black solid;
font-family: "GearsOfPeace";
color: white;


}

.nav li a{
    opacity: 0.7;
}

.nav li a:hover{
    /*background-color: #1498d7;*/
    font-weight: bold;
}
.nav li a:focus{
    scale: 0.95;
}


/*Page mecontacter*/

/*partie gauche*/
#colonegauche {

    font-family: calibri light;
    /*background-color:#152130;*/
    background-color: #0b0c0e;
    width: 20%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#colonegauche h2
{

    color:white;
    text-align: center;	
    margin: 0px;
}
.coordonnees
{

    display: flex;
    text-align: center;	
    flex-direction: column;
    color: white;
    padding: 6%;
}

.coordonnees h5
{
    font-weight: normal;
    margin: 0;
}

#colonegauche  a
{
    color:white;
    font-size: 1.2vw;
    text-decoration: none;
}

#colonegauche img
{
    display: block;
    max-width: 80%;
    height: auto;
    margin: 20% auto 20% auto;
    border-radius: 50%;
    box-shadow: 2px 2px 15px black;

}

/*partie droite*/

.colonedroite
{
    display: table-column;
    width: 80%;
    background-color: #0e1012;
}


.colonedroite h2
{
    border-width: 2px;
    border-style: none none solid none;
    padding-bottom: 7px;
    

}
.colonedroite .formulaire{
    
    margin-top: 4%;
    margin-left: 20%;
    margin-right: 20%;
    color : white;
   
}
.colonedroite .envoyer{
   
   
}
/*Mon parcours*/ 
.mon_parcours{
    height: 100vh;
    background-color: #0e1012;
    display: flex;
}

.mon_parcours img{
    width: 15px;
    height: 15px;
    margin-left: 50%;
    margin-right: 50%;
    margin-bottom: 3%;
    margin-top: 3%;
}

.mon_parcours h2{
    font-size: 48px;
    font-family: "calibri";
    color: white;
    text-decoration: underline;
}
.mon_parcours .textparcours{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    font-size: 18px;
    font-family: "calibri";
    text-align: justify;
    color: white;
    line-height: 2em;
    

}
/*
.Mes_informations img{
    width: 180px;
    height: 180px;
    justify-content: space-around;
    flex-direction: row;
    
.bordure_vertical {
    border-color:black ;
    border-width: 2px;
    border-style: none none none solid;
    margin-left: 300px;
    
    height: 500px;
    

}*/
